In [2]:

import os
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif']=['SimHei'] #用来正常显示中文标签
plt.rcParams['axes.unicode_minus']=False #用来正常显示负号
from quant_utils.constant import DB_CONN_JJTG_DATA

In [42]:
root_path = 'D:/底稿/'
file_name_list = [i for i in os.listdir(root_path) if 'xlsx' not in i ]
cols = [
    '基金代码',	'起始日期','结束日期','累计收益率','年化收益率','年化波动率',	
    '收益波动比','最大回撤','年化收益回撤比','最大回撤日','最大回撤修复'
]
rename_cols = {
    '基金代码': "TICKER_SYMBOL",	
    '起始日期': "START_DATE",
    '结束日期': "END_DATE",
    '累计收益率': "CUM_RETURN",
    '年化收益率': "ANNUAL_RETURN",
    '年化波动率': "ANNUAL_VOLATILITY",	
    '收益波动比': "SHARP_RATIO_ANNUAL",
    '最大回撤': "MAXDD",
    '年化收益回撤比': "CALMAR_RATIO_ANNUAL",
    '最大回撤日': "MAXDD_DATE",
    '最大回撤修复': "MAXDD_RECOVER"
}
num_cols = [
    "CUM_RETURN",
    "ANNUAL_RETURN",
    "ANNUAL_VOLATILITY",
    "SHARP_RATIO_ANNUAL",
    "MAXDD",
    "CALMAR_RATIO_ANNUAL",
]
for i in file_name_list[-1:]:
    print(i)
    file_path_list = [i for i in os.listdir(root_path + i) if '2.' in i]
    df_list = []
    for j in file_path_list:
        portfolio_name = j.split("2.")[0]
        print(portfolio_name)
        file_path = root_path + i + '/' + j
        temp_df = pd.read_excel(file_path)
        temp_df = temp_df.query(f"基金代码	!= '{portfolio_name}'")
        temp_df = temp_df[cols]
        df_list.append(temp_df)
    result_df = pd.concat(df_list)
    result_df = result_df.rename(columns=rename_cols)
    result_df = result_df.drop_duplicates(
        subset=["TICKER_SYMBOL", "START_DATE", "END_DATE"]
    )

    result_df = result_df.replace({"inf": None})
    result_df = result_df.replace({"-inf": None})
    
    result_df["MAXDD"] = abs(result_df["MAXDD"])*100
    result_df["CUM_RETURN"] = result_df["CUM_RETURN"]*100
    result_df["VOLATILITY"] = result_df["ANNUAL_VOLATILITY"]/np.sqrt(252)*100
    result_df["ANNUAL_VOLATILITY"] = result_df["ANNUAL_VOLATILITY"]*100
    result_df["ANNUAL_RETURN"] = result_df["ANNUAL_RETURN"]*100
    result_df["SHARP_RATIO"] = result_df["CUM_RETURN"]/result_df["VOLATILITY"]
    result_df[num_cols] = result_df[num_cols].where(result_df[num_cols]<=10e8, None)
    result_df[num_cols] = result_df[num_cols].where(result_df[num_cols]>=-10e8, None)
    result_df = result_df.dropna(subset=["ANNUAL_RETURN"])
    DB_CONN_JJTG_DATA.upsert(result_df, table="fund_performance_inner")
    print("=="*30)

20231116
中证500指数增强
中调老司机
低调老司机
喝酒吃药
固收优选
固收佳进取270天
均衡小确幸
大吉大利
月月享
永不踩踏
沪深300指数增强
海外掘金
现金宝
目标盈定制-内蒙001期
知己目标盈001期
知己目标盈002期
知己目标盈003期
知己目标盈004期
知己目标盈005期
知己目标盈006期
知己目标盈007期
知己目标盈008期
知己目标盈009期
知己目标盈010期
知己目标盈011期
知己目标盈灰度测试001期
知己目标盈灰度测试002期
知己目标盈灰度测试003期
科技先锋
货币小福星30天
进取全明星
金融周期
长跑亚军
写入192.20.57.208:chentiancheng--fund_performance_inner-受影响行数为221690行!
============================================================

,TICKER_SYMBOL,START_DATE,END_DATE,CUM_RETURN,ANNUAL_RETURN,ANNUAL_VOLATILITY,SHARP_RATIO_ANNUAL,MAXDD,CALMAR_RATIO_ANNUAL,MAXDD_DATE,MAXDD_RECOVER,VOLATILITY,SHARP_RATIO
0,000478,20230519,20230531,-0.876515,-27.482202,7.253474,-3.788833,1.643322,-16.723566,20230525,99999,0.456926,-1.918286
1,001351,20230519,20230531,-1.405054,-40.338406,7.203845,-5.599566,1.633166,-24.699516,20230525,99999,0.453800,-3.096200
2,001556,20230519,20230531,-0.008311,-0.302911,9.199473,-0.032927,1.496011,-0.202479,20230525,99999,0.579512,-0.014342
3,001557,20230519,20230531,-0.017039,-0.620035,9.217504,-0.067267,1.499404,-0.413521,20230525,99999,0.580648,-0.029344
4,002076,20230519,20230531,-0.563138,-18.626961,7.275027,-2.560397,1.626661,-11.451038,20230525,99999,0.458284,-1.228797
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,970018,20230519,20230531,-0.057915,-2.092313,1.746715,-1.197856,0.357074,-5.859607,20230525,99999,0.110033,-0.526344
1188,970019,20230519,20230531,-0.059453,-2.147291,1.757148,-1.222032,0.356648,-6.020766,20230525,99999,0.110690,-0.537113
1189,970052,20230519,20230531,-0.612900,-20.100205,2.970964,-6.765550,0.806844,-24.912146,20230525,99999,0.187153,-3.274859
1190,970053,20230519,20230531,-0.625794,-20.477698,2.984545,-6.861246,0.810943,-25.251716,20230525,99999,0.188009,-3.328541
1191,970193,20230519,20230531,0.377612,14.748058,3.220915,4.578841,0.478308,30.833790,20230524,6,0.202899,1.861087

In [36]:
result_df

,TICKER_SYMBOL,START_DATE,END_DATE,CUM_RETURN,ANNUAL_RETURN,ANNUAL_VOLATILITY,SHARP_RATIO_ANNUAL,MAXDD,CALMAR_RATIO_ANNUAL,MAXDD_DATE,MAXDD_RECOVER,VOLATILITY,SHARP_RATIO
0,000478,20230519,20230531,-0.876515,-27.482202,7.253474,-3.788833,1.643322,-16.723566,20230525,99999,0.456926,-1.918286
1,001351,20230519,20230531,-1.405054,-40.338406,7.203845,-5.599566,1.633166,-24.699516,20230525,99999,0.453800,-3.096200
2,001556,20230519,20230531,-0.008311,-0.302911,9.199473,-0.032927,1.496011,-0.202479,20230525,99999,0.579512,-0.014342
3,001557,20230519,20230531,-0.017039,-0.620035,9.217504,-0.067267,1.499404,-0.413521,20230525,99999,0.580648,-0.029344
4,002076,20230519,20230531,-0.563138,-18.626961,7.275027,-2.560397,1.626661,-11.451038,20230525,99999,0.458284,-1.228797
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187,970018,20230519,20230531,-0.057915,-2.092313,1.746715,-1.197856,0.357074,-5.859607,20230525,99999,0.110033,-0.526344
1188,970019,20230519,20230531,-0.059453,-2.147291,1.757148,-1.222032,0.356648,-6.020766,20230525,99999,0.110690,-0.537113
1189,970052,20230519,20230531,-0.612900,-20.100205,2.970964,-6.765550,0.806844,-24.912146,20230525,99999,0.187153,-3.274859
1190,970053,20230519,20230531,-0.625794,-20.477698,2.984545,-6.861246,0.810943,-25.251716,20230525,99999,0.188009,-3.328541
1191,970193,20230519,20230531,0.377612,14.748058,3.220915,4.578841,0.478308,30.833790,20230524,6,0.202899,1.861087

In [37]:
123351 - 123347

4

In [33]:
DB_CONN_JJTG_DATA.upsert(result_df, table="fund_performance_inner")

写入192.20.57.208:chentiancheng--fund_performance_inner-受影响行数为246694行!

In [18]:
result_df["ANNUAL_RETURN"].loc[3210]

3210    -4.940964
3210     4.612638
3210    10.046024
3210     1.893324
3210   -10.988575
Name: ANNUAL_RETURN, dtype: float64

In [14]:
result_df.iloc[4098, :]["ANNUAL_RETURN"]

-39.81767986780659

In [13]:
query_sql = """
SELECT
	a.TRADE_DT,
	a.TICKER_SYMBOL,
	b.SEC_SHORT_NAME,
	c.IF_IN_TRANCHE 
FROM
	`chentiancheng`.`portfolio_backtest_products_weights` a
	JOIN fund_info b ON a.TICKER_SYMBOL = b.TICKER_SYMBOL
	LEFT JOIN portfolio_basic_products c ON c.TICKER_SYMBOL = a.TICKER_SYMBOL 
WHERE
	1 = 1 
	AND a.`TEST_CODE` = '25' 
	AND a.`PORTFOLIO_NAME` = '01' 
	AND a.`TRADE_DT` = '20231110' 
	# AND c.IF_IN_TRANCHE = 1
"""
df = DB_CONN_JJTG_DATA.exec_query(query_sql)

In [14]:
sector_query = """
SELECT * FROM `chentiancheng`.`fund_holding_sector` 
where report_date = '20230630'
"""
sector_df = DB_CONN_JJTG_DATA.exec_query(sector_query)

In [15]:
sector_df = sector_df.pivot_table(
    index="TICKER_SYMBOL", 
    columns="SECTOR", 
    values="SECTOR_RATIO_IN_NA"
).reset_index()

In [16]:
df.merge(sector_df).to_excel("D:/基金.xlsx")

In [12]:
def get_portfolio_info(portfolio_name: str) -> str:
    query_sql = f"""
    SELECT
        * 
    FROM
        `chentiancheng`.`portfolio_info` 
    WHERE
        1 = 1 
        AND PORTFOLIO_NAME = '{portfolio_name}'
    """
    return DB_CONN_JJTG_DATA.exec_query(query_sql)

In [27]:
def get_portfolio_rank(portfolio_name: str, end_date:str) -> pd.DataFrame:
    peer_query = get_portfolio_info(portfolio_name)["PEER_QUERY"].values[0]
    peer_query = peer_query.replace("LEVEL", "c.LEVEL")
    peer_query = peer_query.replace("==", "=")
    query_sql=f"""
        WITH a AS (
            SELECT
                b.DATE_NAME,
                a.TICKER_SYMBOL,
                a.START_DATE,
                a.END_DATE,
                a.CUM_RETURN,
                a.ANNUAL_RETURN,
                a.ANNUAL_VOLATILITY,
                a.SHARP_RATIO_ANNUAL,
                a.CALMAR_RATIO_ANNUAL,
                a.MAXDD 
            FROM
                portfolio_performance_inner a
                JOIN portfolio_dates b ON a.START_DATE = b.START_DATE 
                AND a.END_DATE = b.END_DATE 
            WHERE
                1 = 1 
                AND a.END_DATE = '{end_date}' 
                AND ( a.TICKER_SYMBOL = b.PORTFOLIO_NAME OR b.PORTFOLIO_NAME = 'ALL' ) 
                AND a.TICKER_SYMBOL = '{portfolio_name}' UNION
            SELECT
                b.DATE_NAME,
                a.TICKER_SYMBOL,
                a.START_DATE,
                a.END_DATE,
                a.CUM_RETURN,
                a.ANNUAL_RETURN,
                a.ANNUAL_VOLATILITY,
                a.SHARP_RATIO_ANNUAL,
                a.CALMAR_RATIO_ANNUAL,
                a.MAXDD 
            FROM
                fund_performance_inner a
                JOIN portfolio_dates b ON a.START_DATE = b.START_DATE 
                AND a.END_DATE = b.END_DATE
                JOIN fund_type_own c ON c.TICKER_SYMBOL = a.TICKER_SYMBOL

            WHERE
                1 = 1 
                and {peer_query}
                AND a.END_DATE = '{end_date}' 
                AND ( b.PORTFOLIO_NAME = '{portfolio_name}' OR b.PORTFOLIO_NAME = 'ALL' ) 
            AND ( 
                c.REPORT_DATE = ( 
                    SELECT max( report_date ) 
                    FROM fund_type_own 
                    WHERE PUBLISH_DATE <= '{end_date}' 
                )
                )),
            b AS ( SELECT DATE_NAME, count(*) AS NUM FROM a GROUP BY DATE_NAME ) SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '累计收益率' AS INDICATOR,
            CUM_RETURN AS PORTFOLIO_VALUE,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY CUM_RETURN DESC ), '/', b.NUM ) AS PEER_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY CUM_RETURN DESC )* 100 AS PEER_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '年化收益率' AS INDICATOR,
            ANNUAL_RETURN AS PORTFOLIO_VALUE,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY ANNUAL_RETURN DESC ), '/', b.NUM ) AS PEER_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY ANNUAL_RETURN DESC )* 100 AS PEER_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '年化波动率' AS INDICATOR,
            ANNUAL_VOLATILITY AS PORTFOLIO_VALUE,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY ANNUAL_VOLATILITY ), '/', b.NUM ) AS PEER_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY ANNUAL_VOLATILITY )* 100 AS PEER_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '最大回撤' AS INDICATOR,
            MAXDD AS PORTFOLIO_VALUE,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY MAXDD ), '/', b.NUM ) AS PEER_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY MAXDD )* 100 AS PEER_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '收益波动比' AS INDICATOR,
            SHARP_RATIO_ANNUAL AS PORTFOLIO_VALUE,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY SHARP_RATIO_ANNUAL DESC ), '/', b.NUM ) AS PEER_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY SHARP_RATIO_ANNUAL DESC )* 100 AS PEER_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '年化收益回撤比' AS INDICATOR,
            CALMAR_RATIO_ANNUAL AS PORTFOLIO_VALUE,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY CALMAR_RATIO_ANNUAL DESC ), '/', b.NUM ) AS PEER_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY CALMAR_RATIO_ANNUAL DESC )* 100 AS PEER_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME
    """
    return DB_CONN_JJTG_DATA.exec_query(query_sql)

In [3]:
def get_fof_rank(portfolio_name: str, end_date:str) -> pd.DataFrame:
    query_sql=f"""
        WITH a AS (
            SELECT
                b.DATE_NAME,
                a.TICKER_SYMBOL,
                a.START_DATE,
                a.END_DATE,
                a.CUM_RETURN,
                a.ANNUAL_RETURN,
                a.ANNUAL_VOLATILITY,
                a.SHARP_RATIO_ANNUAL,
                a.CALMAR_RATIO_ANNUAL,
                a.MAXDD 
            FROM
                portfolio_performance_inner a
                JOIN portfolio_dates b ON a.START_DATE = b.START_DATE 
                AND a.END_DATE = b.END_DATE 
            WHERE
                1 = 1 
                AND a.END_DATE = '{end_date}' 
                AND ( a.TICKER_SYMBOL = b.PORTFOLIO_NAME OR b.PORTFOLIO_NAME = 'ALL' ) 
                AND a.TICKER_SYMBOL = '{portfolio_name}' UNION
            SELECT
                b.DATE_NAME,
                a.TICKER_SYMBOL,
                a.START_DATE,
                a.END_DATE,
                a.CUM_RETURN,
                a.ANNUAL_RETURN,
                a.ANNUAL_VOLATILITY,
                a.SHARP_RATIO_ANNUAL,
                a.CALMAR_RATIO_ANNUAL,
                a.MAXDD 
            FROM
                fund_performance_inner a
                JOIN portfolio_dates b ON a.START_DATE = b.START_DATE 
                AND a.END_DATE = b.END_DATE
                JOIN fof_type c ON c.TICKER_SYMBOL = a.TICKER_SYMBOL 
            WHERE
                1 = 1 
                AND a.END_DATE = '{end_date}' 
                AND c.INNER_TYPE = '{portfolio_name}' 
                AND ( b.PORTFOLIO_NAME = '{portfolio_name}' OR b.PORTFOLIO_NAME = 'ALL' ) 
           ),
            b AS ( SELECT DATE_NAME, count(*) AS NUM FROM a GROUP BY DATE_NAME ) SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '累计收益率' AS INDICATOR,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY CUM_RETURN DESC ), '/', b.NUM ) AS PEER_FOF_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY CUM_RETURN DESC )* 100 AS PEER_FOF_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '年化收益率' AS INDICATOR,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY ANNUAL_RETURN DESC ), '/', b.NUM ) AS PEER_FOF_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY ANNUAL_RETURN DESC )* 100 AS PEER_FOF_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
             '年化波动率' AS INDICATOR,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY ANNUAL_VOLATILITY ), '/', b.NUM ) AS PEER_FOF_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY ANNUAL_VOLATILITY )* 100 AS PEER_FOF_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
            '最大回撤' AS INDICATOR,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY MAXDD ), '/', b.NUM ) AS PEER_FOF_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY MAXDD )* 100 AS PEER_FOF_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
              '收益波动比' AS INDICATOR,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY SHARP_RATIO_ANNUAL DESC ), '/', b.NUM ) AS PEER_FOF_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY SHARP_RATIO_ANNUAL DESC )* 100 AS PEER_FOF_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME UNION
        SELECT
            a.DATE_NAME,
            a.TICKER_SYMBOL,
            a.START_DATE,
            a.END_DATE,
              '年化收益回撤比' AS INDICATOR,
            CONCAT( ROW_NUMBER() over ( PARTITION BY a.DATE_NAME ORDER BY CALMAR_RATIO_ANNUAL DESC ), '/', b.NUM ) AS PEER_FOF_RANK,
            PERCENT_RANK() over ( PARTITION BY a.DATE_NAME ORDER BY CALMAR_RATIO_ANNUAL DESC )* 100 AS PEER_FOF_RANK_PCT 
        FROM
            a
            JOIN b ON b.DATE_NAME = a.DATE_NAME
    """
    return DB_CONN_JJTG_DATA.exec_query(query_sql)

In [4]:
df = get_fof_rank(portfolio_name="月月享", end_date='20231117')
portfolio_perf = df.query("TICKER_SYMBOL == '月月享'")
portfolio_perf

,DATE_NAME,TICKER_SYMBOL,START_DATE,END_DATE,INDICATOR,PEER_FOF_RANK,PEER_FOF_RANK_PCT
12,MTD,月月享,2023-10-31,2023-11-17,累计收益率,13/30,41.379310
39,QTD,月月享,2023-09-28,2023-11-17,累计收益率,10/32,29.032258
67,YTD,月月享,2022-12-30,2023-11-17,累计收益率,6/29,17.857143
92,对客日,月月享,2022-01-24,2023-11-17,累计收益率,2/7,16.666667
99,成立日,月月享,2021-10-15,2023-11-17,累计收益率,2/7,16.666667
...,...,...,...,...,...,...,...
1976,近2年,月月享,2021-11-17,2023-11-17,年化收益回撤比,3/7,33.333333
1988,近2月,月月享,2023-09-15,2023-11-17,年化收益回撤比,8/32,22.580645
2025,近3月,月月享,2023-08-17,2023-11-17,年化收益回撤比,13/30,41.379310
2046,近6月,月月享,2023-05-17,2023-11-17,年化收益回撤比,4/28,11.111111
2075,近9月,月月享,2023-02-17,2023-11-17,年化收益回撤比,5/29,14.285714

In [33]:
portfolio_peer_median = df.groupby(by=["DATE_NAME", "INDICATOR"])["PORTFOLIO_VALUE"].median().reset_index().rename(columns={"PORTFOLIO_VALUE": "PEER_MEDIAN"})

In [34]:

portfolio_perf = portfolio_perf.merge(portfolio_peer_median, on=["DATE_NAME", "INDICATOR"])

In [35]:
portfolio_perf

,DATE_NAME,TICKER_SYMBOL,START_DATE,END_DATE,INDICATOR,PORTFOLIO_VALUE,PEER_RANK,PEER_RANK_PCT,PEER_MEDIAN
0,MTD,月月享,2023-10-31,2023-11-20,累计收益率,0.448382,238/675,35.163205,0.351801
1,QTD,月月享,2023-09-28,2023-11-20,累计收益率,0.161681,257/675,37.982196,0.047041
2,YTD,月月享,2022-12-30,2023-11-20,累计收益率,2.572378,210/585,35.787671,1.747651
3,对客日,月月享,2022-01-24,2023-11-20,累计收益率,1.524643,164/432,37.819026,-0.092454
4,成立日,月月享,2021-10-15,2023-11-20,累计收益率,3.436306,155/414,37.288136,1.372237
...,...,...,...,...,...,...,...,...,...
79,近2年,月月享,2021-11-19,2023-11-20,年化收益回撤比,0.454951,141/428,32.786885,0.075495
80,近2月,月月享,2023-09-20,2023-11-20,年化收益回撤比,1.605616,291/668,43.478261,1.067239
81,近3月,月月享,2023-08-18,2023-11-20,年化收益回撤比,-0.378708,234/664,35.143288,-0.896161
82,近6月,月月享,2023-05-19,2023-11-20,年化收益回撤比,0.995736,186/629,29.458599,0.109541
83,近9月,月月享,2023-02-20,2023-11-20,年化收益回撤比,1.132671,204/581,35.000000,0.413158