In [1]:
import pandas as pd
import datetime
from quant_utils.constant import DB_CONN_LOCAL_MYSQL

In [88]:
df = pd.read_excel("D:/分钟行情/159915.SZ.xlsx")
df["日期"] = df["日期"].apply(lambda s: s + datetime.timedelta(minutes=1))
df['成交额(百万)'] = df['成交额(百万)'] * 1000000
condition_1 = (df["日期"].dt.hour == 11) & (df["日期"].dt.minute == 31)
condition_2 = (df["日期"].dt.hour == 15) & (df["日期"].dt.minute == 1)     
for idx in range(0, len(df)):
    if condition_1[idx] or condition_2[idx]:
        df.loc[idx-1, "成交额(百万)"] = df.loc[idx-1, "成交额(百万)"] + df.loc[idx, "成交额(百万)"]
        df.loc[idx-1, "成交量"] = df.loc[idx-1, "成交量"] + df.loc[idx, "成交量"]
        df.loc[idx-1, "收盘价(元)"] = df.loc[idx, "收盘价(元)"]
        print(df.loc[idx, "日期"], df.loc[idx-1, "成交量"])
result_df = df[~(condition_1|condition_2)]

result_df.rename(
    columns={
        "代码": 'code',
        "日期": "time",
        "开盘价(元)": "open",
        "最高价(元)": "high",
        "最低价(元)": "low",
        "收盘价(元)": "close",
        "成交额(百万)": "total_amount",
        "成交量": "turnover",
    },
    inplace=True
)
result_df.drop(columns=["名称", "涨跌幅"], inplace=True)
result_df["date"] = result_df["time"].dt.date
result_df["tick"] = result_df["time"].dt.time
result_df["tick"] = result_df["tick"].apply(lambda s: s.strftime("%H%M%S"))

2023-05-17 15:01:00 7520100
2023-05-18 11:31:00 2322300
2023-05-18 15:01:00 6138600
2023-05-19 11:31:00 2533700
2023-05-19 15:01:00 6981300
2023-05-22 11:31:00 1253800
2023-05-22 15:01:00 4814600
2023-05-23 11:31:00 404500
2023-05-23 15:01:00 9898900
2023-05-24 11:31:00 2071100
2023-05-24 15:01:00 5028600
2023-05-25 11:31:00 4680200
2023-05-25 15:01:00 6514500
2023-05-26 11:31:00 1973000
2023-05-26 15:01:00 4764200
2023-05-29 11:31:00 749300
2023-05-29 15:01:00 6038300
2023-05-30 11:31:00 1692100
2023-05-30 15:01:00 10057700
2023-05-31 11:31:00 3619800
2023-05-31 15:01:00 14337100
2023-06-01 11:31:00 959000
2023-06-01 15:01:00 6885900
2023-06-02 11:31:00 1619200
2023-06-02 15:01:00 9190700
2023-06-05 11:31:00 1740300
2023-06-05 15:01:00 4879800
2023-06-06 11:31:00 654800
2023-06-06 15:01:00 12090800
2023-06-07 11:31:00 1422600
2023-06-07 15:01:00 10091100
2023-06-08 11:31:00 2073100
2023-06-08 15:01:00 10303500
2023-06-09 11:31:00 568400
2023-06-09 15:01:00 9039200
2023-06-12 11:31:00 801500
2023-06-12 15:01:00 6334400
2023-06-13 11:31:00 456200
2023-06-13 15:01:00 5373400
2023-06-14 11:31:00 1241200
2023-06-14 15:01:00 7879600
2023-06-15 11:31:00 1917400
2023-06-15 15:01:00 12004200
2023-06-16 11:31:00 2009600
2023-06-16 15:01:00 7806000
2023-06-19 11:31:00 487900
2023-06-19 15:01:00 4677100
2023-06-20 11:31:00 3721800
2023-06-20 15:01:00 4530500
2023-06-21 11:31:00 782800
2023-06-21 15:01:00 8907800
2023-06-26 11:31:00 1315100
2023-06-26 15:01:00 5618900
2023-06-27 11:31:00 816500
2023-06-27 15:01:00 5252985
2023-06-28 11:31:00 260500
2023-06-28 15:01:00 4725800
2023-06-29 11:31:00 1795100
2023-06-29 15:01:00 5987800
2023-06-30 11:31:00 4334400
2023-06-30 15:01:00 7829300
2023-07-03 11:31:00 2019200
2023-07-03 15:01:00 7618600
2023-07-04 11:31:00 1171200
2023-07-04 15:01:00 4505132
2023-07-05 11:31:00 1188600
2023-07-05 15:01:00 4705100
2023-07-06 11:31:00 4973400
2023-07-06 15:01:00 8442300
2023-07-07 11:31:00 481900
2023-07-07 15:01:00 7233000
2023-07-10 11:31:00 1007400
2023-07-10 15:01:00 5197000
2023-07-11 11:31:00 551700
2023-07-11 15:01:00 6748800
2023-07-12 11:31:00 419900
2023-07-12 15:01:00 9853300
2023-07-13 11:31:00 182900
2023-07-13 15:01:00 10644900
2023-07-14 11:31:00 603300
2023-07-14 15:01:00 8820200
2023-07-17 11:31:00 81100
2023-07-17 15:01:00 5026658
2023-07-18 11:31:00 690400
2023-07-18 15:01:00 4257500
2023-07-19 11:31:00 254800
2023-07-19 15:01:00 9885300
2023-07-20 11:31:00 1521100
2023-07-20 15:01:00 5928500
2023-07-21 11:31:00 631900
2023-07-21 15:01:00 8899000
2023-07-24 11:31:00 691900
2023-07-24 15:01:00 10521000
2023-07-25 11:31:00 8557001
2023-07-25 15:01:00 7958100
2023-07-26 11:31:00 2204000
2023-07-26 15:01:00 4394600
2023-07-27 11:31:00 1793500
2023-07-27 15:01:00 3732200
2023-07-28 11:31:00 6964800
2023-07-28 15:01:00 8682500
2023-07-31 11:31:00 1153900
2023-07-31 15:01:00 3644000
2023-08-01 11:31:00 293400
2023-08-01 15:01:00 3674900
2023-08-02 11:31:00 364500
2023-08-02 15:01:00 6741200
2023-08-03 11:31:00 382400
2023-08-03 15:01:00 5577000
2023-08-04 11:31:00 839700
2023-08-04 15:01:00 6947100
2023-08-07 11:31:00 422800
2023-08-07 15:01:00 5282400
2023-08-08 11:31:00 375100
2023-08-08 15:01:00 6949200
2023-08-09 11:31:00 499700
2023-08-09 15:01:00 5612400
2023-08-10 11:31:00 3102300
2023-08-10 15:01:00 7357700
2023-08-11 11:31:00 2633500
2023-08-11 15:01:00 13638900
2023-08-14 11:31:00 430500
2023-08-14 15:01:00 7006200
2023-08-15 11:31:00 1891227
2023-08-15 15:01:00 7262400
2023-08-16 11:31:00 106500
2023-08-16 15:01:00 9000800
2023-08-17 11:31:00 947900
2023-08-17 15:01:00 7594857
2023-08-18 11:31:00 567500
2023-08-18 15:01:00 13425000
2023-08-21 11:31:00 9127000
2023-08-21 15:01:00 12556800
2023-08-22 11:31:00 5074100
2023-08-22 15:01:00 9482000
2023-08-23 11:31:00 201200
2023-08-23 15:01:00 12865885
2023-08-24 11:31:00 27265300
2023-08-24 15:01:00 8607900
2023-08-25 11:31:00 273500
2023-08-25 15:01:00 7359800
2023-08-28 11:31:00 2134900
2023-08-28 15:01:00 8137400
2023-08-29 11:31:00 3913500
2023-08-29 15:01:00 7777800
2023-08-30 11:31:00 430000
2023-08-30 15:01:00 4507300
2023-08-31 11:31:00 423400
2023-08-31 15:01:00 5319200
2023-09-01 11:31:00 3149900
2023-09-01 15:01:00 6098000
2023-09-04 11:31:00 613000
2023-09-04 15:01:00 8172800
2023-09-05 11:31:00 960700
2023-09-05 15:01:00 5806000
2023-09-06 11:31:00 1177000
2023-09-06 15:01:00 4901000
2023-09-07 11:31:00 2292200
2023-09-07 15:01:00 10001400
2023-09-08 11:31:00 473100
2023-09-08 15:01:00 4983800
2023-09-11 11:31:00 484800
2023-09-11 15:01:00 5393200
2023-09-12 11:31:00 450000
2023-09-12 15:01:00 4501700
2023-09-13 11:31:00 1639200
2023-09-13 15:01:00 7588000
2023-09-14 11:31:00 163800
2023-09-14 15:01:00 8150000
2023-09-15 11:31:00 601700
2023-09-15 15:01:00 7888200
2023-09-18 11:31:00 410000
2023-09-18 15:01:00 4722200
2023-09-19 11:31:00 363200
2023-09-19 15:01:00 6792800
2023-09-20 11:31:00 412100
2023-09-20 15:01:00 7592717
2023-09-21 11:31:00 990900
2023-09-21 15:01:00 6753200
2023-09-22 11:31:00 2297000
2023-09-22 15:01:00 10273900
2023-09-25 15:01:00 5251900
2023-09-26 11:31:00 317400
2023-09-26 15:01:00 3995800
2023-09-27 11:31:00 904200
2023-09-27 15:01:00 6316800
2023-09-28 11:31:00 1911200
2023-09-28 15:01:00 11149400
2023-10-09 11:31:00 289800
2023-10-09 15:01:00 3407800
2023-10-10 11:31:00 979700
2023-10-10 15:01:00 3981800
2023-10-11 15:01:00 4142800
2023-10-12 11:31:00 2097200
2023-10-12 15:01:00 6646600
2023-10-13 11:31:00 1140800
2023-10-13 15:01:00 3838800
2023-10-16 15:01:00 8242700
2023-10-17 11:31:00 331000
2023-10-17 15:01:00 6465500
2023-10-18 15:01:00 6769500
2023-10-19 11:31:00 921500
2023-10-19 15:01:00 9013400
2023-10-20 11:31:00 101300
2023-10-20 15:01:00 8793900
2023-10-23 11:31:00 778300
2023-10-23 15:01:00 10271900
2023-10-24 11:31:00 757600
2023-10-24 15:01:00 6763300
2023-10-25 11:31:00 2085200
2023-10-25 15:01:00 6602500
2023-10-26 11:31:00 1167900
2023-10-26 15:01:00 11198300
2023-10-27 11:31:00 1169200
2023-10-27 15:01:00 7649500
2023-10-30 11:31:00 5687300
2023-10-30 15:01:00 9490839
2023-10-31 11:31:00 4874900
2023-10-31 15:01:00 4863500
2023-11-01 11:31:00 1615500
2023-11-01 15:01:00 7327855
2023-11-02 11:31:00 70200
2023-11-02 15:01:00 5140000
2023-11-03 11:31:00 671000
2023-11-03 15:01:00 7549100
2023-11-06 11:31:00 2551000
2023-11-06 15:01:00 10989500
2023-11-07 11:31:00 1312200

C:\Users\Wilcoxon\AppData\Local\Temp\ipykernel_11548\2538446297.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df.rename(
C:\Users\Wilcoxon\AppData\Local\Temp\ipykernel_11548\2538446297.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df.drop(columns=["名称", "涨跌幅"], inplace=True)
C:\Users\Wilcoxon\AppData\Local\Temp\ipykernel_11548\2538446297.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df["date"] = result_df["time"].dt.date
C:\Users\Wilcoxon\AppData\Local\Temp\ipykernel_11548\2538446297.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df["tick"] = result_df["time"].dt.time
C:\Users\Wilcoxon\AppData\Local\Temp\ipykernel_11548\2538446297.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df["tick"] = result_df["tick"].apply(lambda s: s.strftime("%H%M%S"))

In [91]:
result_df = result_df.set_index("time")

KeyError: "None of ['time'] are in the columns"

In [93]:
result_df.resample('30min', closed='right', label='right').agg(
    {
        'open': 'first', 
        'high': 'max', 
        'low' :'min', 
        'close':'last',
        "total_amount": 'sum',
        'turnover': 'sum'
    }
    ).dropna()

                      open   high    low  close  total_amount   turnover
time
2023-05-17 14:00:00  2.219  2.221  2.219  2.221     3640000.0    1640700
2023-05-17 14:30:00  2.220  2.224  2.219  2.223    87530000.0   39388400
2023-05-17 15:00:00  2.222  2.230  2.221  2.229   303690000.0  136422273
2023-05-18 10:00:00  2.233  2.237  2.221  2.222   257070000.0  115299800
2023-05-18 10:30:00  2.222  2.231  2.222  2.226   114560000.0   51436478
...                    ...    ...    ...    ...           ...        ...
2023-11-07 11:00:00  1.965  1.966  1.960  1.965   124530000.0   63444755
2023-11-07 11:30:00  1.965  1.965  1.960  1.961    85860000.0   43750900
2023-11-07 13:30:00  1.961  1.967  1.960  1.965    55710000.0   28378200
2023-11-07 14:00:00  1.965  1.971  1.964  1.970    93400000.0   47460000
2023-11-07 14:30:00  1.970  1.972  1.969  1.972    10760000.0    5458698

[930 rows x 6 columns]

In [123]:
def get_1m_quotes(code, start_time=None, end_time=None):
    query_sql = f"""
        select
            time,
            open,
            high,
            low,
            close,
            total_amount as total_amount,
            turnover as turnover
        from 
            {code}
        where 1=1
    """
    if start_time:
        query_sql += f' and time >= "{start_time}"'
    if end_time:
        query_sql += f' and time <= "{end_time}"'

    df = DB_CONN_LOCAL_MYSQL.exec_query(query_sql).set_index('time')
    return df
df = get_1m_quotes("SH000300")
df.resample('D').agg(
    {
        'open': 'first', 
        'high': 'max', 
        'low' :'min', 
        'close':'last',
        "total_amount": 'sum',
        'turnover': 'sum'
    }).dropna()

,open,high,low,close,total_amount,turnover
time,,,,,,
2023-10-31,3581.6759,3581.6759,3554.5822,3574.5368,1.928891e+11,1.109528e+10
2023-11-01,3605.7576,3606.4126,3564.6421,3572.9675,1.811460e+11,9.661952e+09
2023-11-02,3580.0672,3597.1699,3553.7406,3555.2441,1.479358e+11,8.950171e+09
2023-11-03,3558.5303,3596.1010,3558.5303,3584.1465,1.639313e+11,9.640022e+09
2023-11-06,3608.3187,3635.7897,3600.6304,3632.3903,2.519888e+11,1.514479e+10
2023-11-07,3623.7849,3628.4615,3606.2975,3620.8806,1.884245e+11,1.090890e+10

In [2]:
df = pd.read_csv("d:/分钟行情/159901-1min.csv")

In [4]:
df=df.set_index("trade_time")
df.index = pd.to_datetime(df.index)

In [ ]:
df_1d = df.resample('D').agg(
    {
        'open': 'first', 
        'high': 'max', 
        'low' :'min', 
        'close':'last',
        "amount": 'sum',
        'vol': 'sum'
    }
).dropna()
df_1d

In [19]:
df_30min = df.resample('30min', closed='right', label='right').agg(
    {
        'open': 'first', 
        'high': 'max', 
        'low' :'min', 
        'close':'last',
        "amount": 'sum',
        'vol': 'sum'
    }
).dropna()

In [27]:
idx = list(range(0, len(df_30min)//2))*2
idx.sort()
df_30min["idx"] = idx
df_30min = df_30min.reset_index()
df_60min = df_30min.groupby(by="idx").agg(
    {
        "trade_time": 'last',
        'open': 'first', 
        'high': 'max', 
        'low' :'min', 
        'close':'last',
        "amount": 'sum',
        'vol': 'sum'
    }
)